/* footer */
.footer {
  position: relative;
  display: block;
  width: 100%;
  background-color: #191718;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 50px;
}

.footer-top {
  width: 100%;
}
.footer-logo {
  width: 98px;
  height: 71px;
  float: left;
}
.footer-menu {
  margin-left: 60px;
  margin-bottom: 50px;
  float: left;
}
.footer-menu-frist {
  margin-bottom: 20px;
}
.footer-menu-frist li {
  margin-right: 5px;
  display: inline;
}

.footer-menu-frist > li > a {
  color: #999;
}
.footer-menu-frist > li:nth-child(3) > a {
  color: #fff;
}
.footer-menu-frist > li::after {
  content: "ㅣ";
  color: #999;
}
.footer-menu-frist > li:last-child::after {
  content: none;
}
.footer-menu-two {
  margin-bottom: 20px;
}
.footer-menu-two > li {
  margin-right: 5px;
  display: inline;
}
.footer-menu-two > li > a {
  color: #999;
}

.footer-menu-two > li::after {
  content: "ㅣ";
  color: #999;
}
.footer-menu-two > li:last-child::after {
  content: none;
}

.footer-top span {
  display: block;
  color: #999;
  margin-bottom: 10px;
}
.footer-top p {
  color: #999;
  font-size: 12px;
}
.footer-site {
  float: right;
}

.footer-social {
  width: 270px;
  height: 31px;
  margin-left: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  float: right;
}
.footer-social li {
  margin-right: 5px;
  float: left;
}
.footer-social li img {
  width: 30px;
  height: 32px;
}
.footer-family{
  position: relative;
  display: block;
}
.footer-family-inner {
  width: 270px;
  height: 30px;
  margin-right: 1px;
  line-height: 30px;
  padding: 0 13px;
  float: right;
  background-color: #191718;
  border: 1px solid #999;
  cursor: pointer;
}
.footer-family-inner > span {
  float: left;
}
.fa-caret-down {
  line-height: 30px;
  float: right;
}
.footer-family-box {
  position: absolute;
  right: 0px;
  bottom: -50px;
  width: 270px;
  padding: 10px;
  background-color: #191718;
  float: left;
  text-align: left;
  display: none;
  border: 1px solid #999;

}

.footer-family-box > li {
  padding: 5px;
}
.footer-family-box > li > a {
  color: #999;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
}
.footer-family-inner span {
  font-size: 13px;
  color: #999;
  font-family: "Noto Sans KR", sans-serif;
}
.footer-row {
  width: 100%;
  float: left;
  border-top: 1px solid #999;
  color: #999;
}
.footer-row-box {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.footer-row-box li {
  float: left;
  width: 20%;
  margin-top: 18px;
  word-break: keep-all;
}
.footer-row li img {
  float: left;
}
.footer-row li p {
  margin-left: 45px;
  margin-right: 10px;
  line-height: 18px;
}
@media all and (max-width: 1024px) {
  .footer {
    padding: 20px 0;
  }
  .footer-row {
    display: none;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
  .footer-logo {
    float: none;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-menu {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .footer-site {
    float: none;
    width: 270px;
  }
  .footer-family-box {
    right: 0px;
    bottom: -50px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    padding: 5px;
  }
  .footer-site {
    display: none;
  }
  .footer-row-box {
    display: none;
  }
  .footer-row {
    display: none;
  }
}
