/* highlight */
.highlight {
  /* background-color: #34f0e0; */
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}
.highlight-title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 40px 0;
}
.highlight-slide {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
/* Swiper  */
.highlightswiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-25%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev::after {
  font-size: 28px;
  color: #fff;
  opacity: 0.8;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translate(25%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-button-next::after {
  font-size: 28px;
  color: #fff;
  opacity: 0.8;
}

/* ========== highlight-item ========== */
.highlight-item {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.highlight-item h3 {
  font-size: 28px;
  font-weight: 700;
}
.highlight-content {
  position: relative;
  padding: 0 50px;
  /* background-color: rgba(131, 66, 66, 0.3); */
}
.highlight-subtitle {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.highlight-subtitle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 30px;
}
.highlight-txt {
  width: 100%;
  padding: 40px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  position: relative;
}

.highlight-tab-memu {
  position: relative;
}
.highlight-tab-memu a {
  position: relative;
}
.highlight-tab-memu a h4 {
  position: relative;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
.highlight-tab-content {
  position: relative;
  width: 50%;
}
.highlight-tab-content p {
  position: absolute;
  left: 0%;
  top: 0%;
  margin-left: 15%;
  text-align: left;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  display: none;
  line-height: 1.3em;
}
.safety-bt {
  width: 220px;
  height: 50px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #0a62d0;
  border-radius: 10px;
  position: absolute;
  right: 10%;
  bottom: 18%;
}
/* =============================== */
/* .performance-subtitle + ul {
  display: none;
}
.performance-subtitle.active + ul {
  display: block;
} */
/* ============================== */
/* 1024px */
@media screen and (max-width: 1024px) {
  .highlight-title {
    font-size: 2.2em;
    font-weight: 700;
  }
  .highlight-item h3 {
    font-size: 1.3em;
    font-weight: 400;
  }
  .highlight-tab-memu a h4{
    font-size: 0.8em;
  }
  .highlight-tab-content p{
    font-size: 0.6em;
  }
  .safety-bt {
    top: 110%;
    left: 30%;
  }
  .swiper-button-next,
  .swiper-button-prev {
display: none;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .highlight-title {
    font-size: 2.2em;
    font-weight: 700;
  }
  .highlight-item h3 {
    font-size: 1.3em;
    font-weight: 400;
  }
    .highlight-tab-memu a h4{
    font-size: 0.6em;
  }
    .highlight-tab-content p{
    font-size: 0.4em;
  }
  .safety-bt {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
display: none;
  }
}
