/* highlight */
.highlight {
  background-color: #34f0e0;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1080px;
}
.highlight-title {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 40px auto;
}
.highlight-slide {
  position: relative;
  width: 100%;
  height: 700px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/* Swiper  */
.highlightswiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  position: absolute;
  top: 55%;
  left: 0%;
  transform: translate(-25%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev::after {
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
}

.swiper-button-next {
  position: absolute;
  top: 55%;
  right: 0%;
  transform: translate(25%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-button-next::after {
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
}

/* ========== highlight-item ========== */
.highlight-item {
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.highlight-item h3 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  font-weight: 700;
  z-index: 1;
}
.highlight-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.highlight-subtitle {
  /* float: left; */
  position: relative;
  display: block;
  width: 500px;
  height: 700px;
}
.highlight-subtitle img {
  height: 600px;
  width: 500px;
}

.highlight-txt h4 {
  position: relative;
  margin-top: 35%;
  text-align: left;
  margin-left: 3%;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.highlight-txt {
  /* float: right; */
  width: 40%;
  height: 600px;
  margin-left: 1%;
  margin-right: 1%;
  border: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.highlight-txt ul li ul {
  display: none;
}
.highlight-txt p {
  margin-top: 20%;
  text-align: left;
  margin-left: 3%;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.safety-bt {
  width: 220px;
  height: 50px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #0a62d0;
  border-radius: 10px;
  position: absolute;
  right: 55px;
  bottom: 20%;
}
/* =============================== */
/* .performance-subtitle + ul {
  display: none;
}
.performance-subtitle.active + ul {
  display: block;
} */
