/* news */
.news{
  padding-bottom: 100px;
  /* background-color: cornflowerblue; */
  }
  .news-title {
    font-size: 48px;
    font-weight: 700;
    /* text-transform: uppercase; */
    display: block;
    position: relative;
    text-align: center;
    padding-top: 160px;
    margin-top: 100px;
    margin-bottom: 90px;
  }
  
  .news_inner{
  display: flex;
  justify-content: space-between;
  }
  
  .news-more{
  position: absolute;
  display: inline-block;
  right: 50px;
  top: 280px;
  color: #59c3ff;
  cursor: pointer;
  }
  
  .news-list{
  color: #333;
  height: 100%;
    /* margin-right: 10px; */
  }
  
  .news-list img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .news-list li b{
  font-size: 20px;
  /* width: 90%; */
  /* text-align: center; */
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 1.75em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal; 
  text-overflow: ellipsis;
  overflow: hidden;
  }
  .news-list li p {
  font-size: 14px;
  /* width: 90%; */
  margin-top: 20px;
  color: #333;  
  line-height: 1.75em;  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal; 
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 50px;
  }
  
  
  /* 반응형 */
  /* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
  @media all and (max-width:1024px) { 
  .news_inner{
    flex-wrap: wrap;
    width: 100%;
  }
  
  .news-list img{
    text-align: center;
  }
  
  } 
  
  /* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
  @media all and (max-width:768px) { 
    .news_inner{flex-wrap: wrap;}
    #newsbox2,
    #newsbox3{
      width: 100%;
      /* justify-content: space-between; */
      height: auto;
    }
    .news-list{
      width: 100%;
      /* flex-basis: calc(50% - 20px); */
    }
    .news-title{
      text-align: center;
      font-size: 40px;
    }
  
  
  } 