/* space */
.space {
  /* background-color: blanchedalmond; */
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.space-title {
  width: 100%;
  margin: 0 auto;
}
.space-title h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 3%;
}
.space-image-container {
  position: relative;
  display: block;
  width: 100%;
  height: 800px;
  padding: 10px 20px;
  margin: 10% auto;
}
.space-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 5%;
}
.space-image-container .space02 {
  display: none;
}
#button1 {
  /* padding: 10px; */
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  right: 55%;
  border: 0;
  color: #fff;
  width: 90px;
  background-color: transparent;
  cursor: pointer;
}
#button2 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  right: 40%;
  border: 0;
  color: #fff;
  width: 90px;
  background-color: transparent;
  cursor: pointer;
}
#button1:hover,
#button2:hover {
  color: #999900;
}
/* ============================== */
/* 1024px */
@media screen and (max-width: 1024px) {
  .space .inner {
    width: 100%;
    margin: 6% auto;
  }
  .space-title {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 10%; */
  }
  .space-title h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: 700;
    padding: 5%;
  }
  .space-image-container {
    /* width: 100vh; */
    width: 100%;
    height: 600px;
    margin: 0 auto;
  }
  .space-image-container img {
    width: 100%;
    height: 100%;
  }
  #button1 {
    bottom: 10%;
    right: 54%;
    font-size: 1.8em;
  }
  #button2 {
    bottom: 10%;
    right: 38%;
    font-size: 1.8em;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .space .inner {
    width: 100%;
    margin: 6% auto;
  }
  .space-title {
    width: 100%;
    margin: 0 auto;
  }
  .space-title h1 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    padding: 5%;
  }
  .space-image-container {
    /* width:vh; */
    width: 1005;
    height: 450px;
    margin: 0 auto;
  }
  .space-image-container img {
    width: 100%;
    height: 100%;
    /* width:100%; */
  }
  #button1 {
    bottom: 10%;
    right: 49%;
    font-size: 15px;
  }
  #button2 {
    bottom: 10%;
    right: 34%;
    font-size: 15px;
  }
}
