/* testdrive.css */
#apply-form {
  width: 950px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.wrap {
  width: 100%;
}
.td-inner {
  width: 950px;
  margin: 0 auto;
}
.td-header {
  width: 100%;
  height: 54px;
  margin-top: 80px;
  margin-bottom: 4px;
}
.td-header-left {
  width: 50%;
  float: left;
}
.td-header-left h1 {
  font-size: 40px;
  font-weight: bold;
}
.td-header-right {
  width: 50%;
  float: left;
}
.td-header-right img {
  width: 98px;
  float: right;
}
.select-area {
  width: 100%;
  margin-top: 35px;
  padding-bottom: 15px;
  border-bottom: 3px solid #000;
}
.select-area h2 {
  font-size: 20px;
  font-weight: 700;
}
.input-box {
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin-top: 32px;
  font-size: 14px;
  letter-spacing: 1px;
}
.input-box input {
  vertical-align: middle;
  accent-color: #505050;
}
.testType1 {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.testType2 {
  width: 24px;
  height: 24px;
  margin-left: 13px;
  margin-right: 5px;
}
#carValue {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #50505070;
  font-size: 14px;
  color: #505050;
}
#carImage {
  width: 100%;
  margin: 25px 0;
  text-align: center;
}
#carImage img {
  width: 50%;
  border: 1px solid #000;
}
.testdrive-area {
  display: flex;
  width: 100%;
}
.select-box {
  width: 50%;
  margin: 5px;
}
.testdrive-area select {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #50505070;
  font-size: 14px;
  color: #505050;
}
.information-area {
  margin-top: 20px;
}
.text-area {
  margin-bottom: 25px;
}
.info-form {
  width: 100%;
}
.info-form .name {
  width: 100%;
  font-size: 12px;
  display: block;
  color: #808080;
}
.info-name {
  width: 100%;
  border: none;
  padding: 2px 5px 1px;
  height: 40px;
  border-bottom: 1px solid #999;
}
.info-row {
  margin-top: 28px;
}
.col {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
}
.col:last-child {
  margin-top: 28px;
}
.phone {
  font-size: 12px;
  display: block;
  color: #808080;
}
.info-phone {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #d0d3d4;
}

.info-btn {
  width: 160px;
  height: 50px;
  font-size: 16px;
  letter-spacing: -0.24px;
  color: #fff;
  background-color: #000;
  margin-right: 0;
}
.input-wrap {
  width: calc(100% - 180px);
}
.code {
  font-size: 12px;
  display: block;
  color: #808080;
}
.info-code {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #d0d3d4;
}
.info-code-btn {
  width: 160px;
  height: 50px;
  font-size: 16px;
  letter-spacing: -0.24px;
  color: #fff;
  background-color: #949494;
  border: none;
  margin-right: 0;
}
.Consent-area {
  margin-top: 20px;
}
.agree-top {
  position: relative;
  padding: 32px 18px;
  background: #f2f2f2;
  color: #6d7579;
}
.agree-top label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.agree-top .form-box input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.agree-form-box {
  position: absolute;
  top: 27px;
  right: 20px;
  font-size: 18px;
}
.form-box input,
.form-box label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.agree-list {
  margin-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}
.agree-list li {
  width: 100%;
  text-align: center;
}
.agree-list li dt {
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.agree-list li dt strong {
  color: #f50537;
  font-size: 16px;
}
.agree-list dl {
  border: 1px solid #999;
  padding: 10px;
  margin-left: 40px;
  float: left;
}
.agree-list dl input {
  width: 24px;
  height: 24px;
  margin: 10px 0;
}
.agree-list dl a {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border: 1px solid #000;
}
.form-a-box {
  margin-top: 25px;
  margin-bottom: 20px;
}
.area-font {
  margin-top: 20px;
  font-size: 13px;
  color: #999;
  line-height: 1.2;
}
.area-font a {
  color: #f50537;
  border-bottom: 1px solid #f50537;
}
.agree-info-box {
  margin-top: 20px;
}
.text-info-st::after {
  content: "|";
  margin-left: 5px;
}
.agree-info-box p {
  margin-top: 10px;
}
.footer-btn2 {
  margin-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
}
.footer-box2 {
  width: 100%;
  text-align: center;
}
.footer-a {
  display: inline-block;
  width: 100%;
  max-width: 635px;
  height: 50px;
  background-color: #000;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
