/* visual */
.visual {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.visual-mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual-font {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 64px;
  font-weight: bold;
  font-weight: 500px;
  z-index: 999;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 1.4;
}
.visual-font em {
  color: #f3d849;
  font-weight: bold;
}
.video-playbox {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.fa-play {
  font-size: 24px;
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
}
.fa-play:hover,
.fa-play.active {
  color: gray;
}
.fa-pause {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.fa-pause:hover,
.fa-pause.active {
  color: gray;
}

@media all and (max-width: 1024px) {
  .visual-font {
    font-size: 48px;
  }
  .fa-play {
    font-size: 18px;
  }
  .fa-pause {
    font-size: 18px;
  }
}

@media all and (max-width: 768px) {
  .visual-font {
    font-size: 36px;
  }
  .fa-play {
    font-size: 16px;
  }
  .fa-pause {
    font-size: 16px;
  }
}
